* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #ffc259;
    background-image: url('backgroundimageforcss.jpeg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header, footer {
    background-color: #2b3742;
    color: white;
    text-align: center;
    padding: 10px;
}
#main-title {
    text-transform: uppercase;
    word-spacing: 10px;
    letter-spacing: -3px;
    margin-bottom: 0;
    text-shadow: 2px 2px 5px black;
}
.intro {
    font-size: 1.5em;
    margin-top: 0;
    text-decoration: underline;
}
section > img:first-of-type {
    display: block;
    width: 25vw;
    height: 25vh;
    margin-left: auto;
    margin-right: auto;
}
.container img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  float: left;
}
.container ul {
  list-style-type: none;
  clear: left;
}
a[target="_blank"] {
    color: yellow;
}
a[href="/internal-page"] {
    color: pink;
}
a:hover {
    background-color: red;
    text-decoration: underline;
    cursor: pointer;
}
/* extra CSS */
.container ul {

  list-style-type: none; /* removes bullets */

  clear: left; /* removes effect of float:left */

  padding: 0; /* removes the spaces surrounding the li/s */
}
.container ul li {

  width: 150px;

  padding: 5px;

  background-color: cornsilk;

  text-align: center;

  display: inline-block;

  border-radius: 0px 25px;
}